    /*COLORES*/
$colorTitulo:  #ff6f00;
$colorContenedor: linear-gradient(to left, #dafcf0,rgb(255, 132, 0),rgb(255, 132, 0), #dafcf0);
$colorContenedor2: linear-gradient(to left, #dafcf0,rgb(255, 132, 0),rgb(255, 132, 0), #dafcf0);
$colorContenedor3: linear-gradient(rgb(0, 0, 0),rgb(0, 0, 0),rgb(0, 0, 0),rgb(255, 132, 0), rgb(255, 225, 0));
$colorContenedor4: linear-gradient(rgb(0, 0, 0),rgb(0, 0, 0),rgb(0, 0, 0),rgb(255, 132, 0), rgb(60, 51, 41));

   /*FUENTES*/
   
$fuenteUno: 'Grandstander', cursive;
$fuenteDos: 'Fredoka One', cursive;

